<div id="home" class="page-header">
    <h1>Afegeix un video</h1>
</div>
<div id="contentbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Afegeix un video</div>
        </div>
        <div class="panel-body">
            <div id="addvideoform" class="form-horizontal" role="form">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" class="form-control" name="name" placeholder="Nom">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                    <input type="text" class="form-control" name="description" placeholder="Descripcio">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                    <input type="text" class="form-control" name="url" placeholder="Link">
                </div>
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <button id="btn-addVideo" class="btn btn-success">Afegeix</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
