<div id="home" class="jumbotron">
    <h1>Syncro TV</h1>
</div>
<div id="contentbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Identifica't</div>
        </div>
        <div class="panel-body">
            <div id="loginform" class="form-horizontal" role="form">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="login-username" type="email" class="form-control" name="username" value="" placeholder="Email">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="login-password" type="password" class="form-control" name="password" placeholder="Contrasenya">
                </div>
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <button id="btn-login" class="btn btn-success">Inicia sessi&oacute  </button>
                    </div>
                </div>
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                    Encara no estas registrat?!
                    <a href="#signup">Inscriu-te</a>
                </div>
            </div>
        </div>
    </div>
</div>
