<div id="home" class="jumbotron">
    <h1>Syncro TV</h1>
</div>
<div id="contentbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Inscriu-te</div>
        </div>
        <div class="panel-body" >
            <form id="signupform" role="form">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="passwd" type="password" class="form-control" name="passwd" placeholder="Contrasenya">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="passwd2" placeholder="Repeteix la contrasenya">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" class="form-control" name="name" placeholder="Nom">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" class="form-control" name="surname" placeholder="Cognom">
                </div>
                <div style="margin-top:10px" class="form-group">
                    <button id="btn-signup" type="button" class="btn btn-success">Inscriu-te</button>
                </div>
            </form>
        </div>
    </div>
</div>